@import '../../theme/config';

footer {
  height: 56px;
  background-color: $third_color;

  .inner-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      font-size: 0.9rem;

      .heart-symbole {
        font-weight: bold;
        color: $forth_color;
      }

      a {
        &:hover {
          color: $forth_color;
          transition: 0.3s;
        }
      }
    }
  }
}
