@import '../../theme/config';

footer {
  height: 56px;
  background-color: $primary_color;
  color: rgba(#000, 1);
  font-size: 0.9rem;
  text-align: center;

  .inner-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      line-height: 1.3rem;

      #copyright {
        white-space: nowrap;

        b {
          color: rgba(#000, 0.8);

          &:hover {
            color: rgba(#000, 1);
            transition: 0.3s;
          }
        }
      }
    }
  }
}
