@import '../../theme/config';

footer {
  height: 56px;
  background-color: $primary_color;
  color: $title_dark;
  font-size: 0.9rem;
  text-align: center;

  .inner-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      line-height: 1.3rem;

      #copyright {
        white-space: nowrap;

        i {
          color: #000;
        }
      }
    }
  }
}
