@import '../../theme/config';

button {
  all: unset;
  cursor: pointer;
}

header {
  height: 56px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: $title_dark;
  background-color: rgba($primary_color, 0.9);
  box-shadow: 0 0 3px 0 $primary_color;
  -webkit-box-shadow: 0 0 3px 0 $primary_color;
  -moz-box-shadow: 0 0 3px 0 $primary_color;
  z-index: 100;

  .inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;


    .social-links {
      display: flex;
      gap: calc($gap / 2);

      img {
        height: 100%;
        opacity: 0.75;

        &:hover {
          opacity: 1;
          transition: 0.3s;
        }
      }
    }

    nav {
      ul {
        float: right;
        display: flex;
        gap: $gap;

        li {
          font-weight: 500;
        }

        li:hover {
          color: #000000;
        }
      }
    }

    button {
      padding: 0;
      display: none;
      opacity: 0.75;

      &:hover {
        opacity: 1;
        transition: 0.3s;
      }
    }
  }
}

#mobileMenu {
  position: fixed;
  top: 56px;
  width: 100%;
  padding: $gap;
  background-color: rgba($primary_color, 0.9);
  box-shadow: 0 0 1px 0 $primary_color;
  -webkit-box-shadow: 0 0 1px 0 $primary_color;
  -moz-box-shadow: 0 0 1px 0 $primary_color;
  z-index: 90;

  ul {
    display: flex;
    flex-direction: column;
    gap: $gap;
    font-weight: 500;
    color: $title_dark;

    li:hover {
      color: #000000;
      transition: 0.3s;
    }
  }
}

.active {
  color: #000000;
}

.show-mobile-menu {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.3s ease;
}

.hide-mobile-menu {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;
}

/*
** responsive styles
*/

@media screen and (max-width: 600px) {
  #desktopMenu {
    display: none;
  }

  #toggleMenuBtn {
    display: block;
  }
}
