$primary_color: #21c4af;
$accent_color: #C42136;

$bg_light: #fff;
$bg_dark: #000;

$title_light: #E2E2E2;
$txt_light: #C2C2C2;
$label_light: #A2A2A2;

$title_dark: #2E2E2E;
$txt_dark: #4E4E4E;
$label_dark: #6E6E6E;

$gap: 24px;
