$primary: (
  50 : #e0f1f1,
  100 : #b3dcdc,
  200 : #80c5c5,
  300 : #4daeae,
  400 : #269c9c,
  500 : #008b8b,
  600 : #008383,
  700 : #007878,
  800 : #006e6e,
  900 : #005b5b,
  A100 : #8cffff,
  A200 : #59ffff,
  A400 : #26ffff,
  A700 : #0dffff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


/* For use in src/lib/core/theming/_palette.scss */
$accent: (
  50 : #f1e0e0,
  100 : #dcb3b3,
  200 : #c58080,
  300 : #ae4d4d,
  400 : #9c2626,
  500 : #8b0000,
  600 : #830000,
  700 : #780000,
  800 : #6e0000,
  900 : #5b0000,
  A100 : #ff8c8c,
  A200 : #ff5959,
  A400 : #ff2626,
  A700 : #ff0d0d,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
