/* For use in src/lib/core/theming/_palette.scss */
$primary: (
  50 : #f6eee2,
  100 : #e8d5b7,
  200 : #d8ba87,
  300 : #c89e57,
  400 : #bd8933,
  500 : #b1740f,
  600 : #aa6c0d,
  700 : #a1610b,
  800 : #985708,
  900 : #884404,
  A100 : #ffd4b4,
  A200 : #ffb781,
  A400 : #ff9a4e,
  A700 : #ff8b35,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


/* For use in src/lib/core/theming/_palette.scss */
$accent: (
  50 : #e2eaf6,
  100 : #b7c9e8,
  200 : #87a6d8,
  300 : #5782c8,
  400 : #3367bd,
  500 : #0f4cb1,
  600 : #0d45aa,
  700 : #0b3ca1,
  800 : #083398,
  900 : #042488,
  A100 : #b4c2ff,
  A200 : #8198ff,
  A400 : #4e6eff,
  A700 : #3559ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
