$primary: (
  50 : #e4f8f5,
  100 : #bcede7,
  200 : #90e2d7,
  300 : #64d6c7,
  400 : #42cdbb,
  500 : #21c4af,
  600 : #1dbea8,
  700 : #18b69f,
  800 : #14af96,
  900 : #0ba286,
  A100 : #cffff5,
  A200 : #9cffeb,
  A400 : #69ffe0,
  A700 : #50ffdb,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


/* For use in src/lib/core/theming/_palette.scss */
$accent: (
  50 : #f8e4e7,
  100 : #edbcc3,
  200 : #e2909b,
  300 : #d66472,
  400 : #cd4254,
  500 : #c42136,
  600 : #be1d30,
  700 : #b61829,
  800 : #af1422,
  900 : #a20b16,
  A100 : #ffcfd2,
  A200 : #ff9ca1,
  A400 : #ff6971,
  A700 : #ff5058,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
