@import '../../theme/config';

form {
  padding: 24px;
  border-radius: 4px;
  width: 100%;
  background-color: $bg_light;
  color: $txt_dark;

  h3 {
    color: $title_dark;
    margin-bottom: $gap;
    text-align: center;
  }

  mat-form-field {
    width: 100%;
  }
}
