<form class="example-form" (submit)="sendMessage($event)" #contactForm="ngForm"> 
  <h3> Send me a message!</h3>

  <mat-form-field class="form-control">
    <mat-label for="name">Full name</mat-label>
    <input matInput type="text" id="name" name="name" 
      [(ngModel)]="formValues.name" #fullName="ngModel"  required>
    @if (fullName.errors?.['required'] && fullName.dirty) {
      <mat-error><small>Name is required.</small></mat-error>
    }
  </mat-form-field><br>

  <mat-form-field class="form-control" color="primary">
    <mat-label for="email">Email</mat-label>
    <input matInput type="email" id="email" name="email" 
          #email="ngModel" [(ngModel)]="formValues.email" 
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
      @if (email.invalid && email.dirty) {
        @if (email.errors?.['required']) {
          <mat-error><small>Email is required.</small></mat-error>
        }
        @if (email.errors?.['pattern']) {
          <mat-error><small>Email format is incorrect.</small></mat-error>
        }
      }
  </mat-form-field><br>

  <mat-form-field class="form-control">
    <mat-label for="message">Message</mat-label>
    <textarea matInput type="message" id="message" name="message" rows="5"
      [(ngModel)]="formValues.message" #message="ngModel" required>
    </textarea>
    @if (message.errors?.['required'] && message.dirty) {
      <mat-error><small>Message is required.</small></mat-error>
    }
  </mat-form-field><br>

  <div class="submit-container">
    <button  type="submit" mat-raised-button color="primary" class="full-width"
      [disabled]="contactForm.invalid">
      Send
    </button>
  </div>

  @if (alert && alert.show) {
    <app-notification
      [type]="alert.type" 
      [content]="alert.content"
      (close)="alert.show = false">
    </app-notification>
  }
</form>
