@import '../../theme/config';

.portfolio-container {
  min-height: calc(100dvh - 96px);
  // background-color: #eeeeee;

  .hdr {
    padding: calc($gap * 3) $gap;
    text-align: center;
    color: $txt_light;
    background: linear-gradient(to right, rgba($bg_dark, 0.75), rgba($bg_dark, 0.75)),
      url(../../../assets/vid-tech-bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &>* {
      max-width: 1200px;
      margin: 0 auto;
    }

    h1 {
      margin-bottom: $gap;
      z-index: 11;
      color: $title_light;
    }
  }
}
