<div class="project-item-container">
  <div class="picture">
    <img [ngSrc]="projectDetails.itemImg" fill [alt]="projectDetails.title">
    <div class="btns">
      <a [href]="projectDetails.sourceCodeHref" target="_blank">
        <mat-icon fontIcon="code"></mat-icon>
      </a>
      <a [href]="projectDetails.previewHref" target="_blank">
        <mat-icon fontIcon="visibility"></mat-icon>
      </a>
    </div>
  </div>
  <div class="details">
    <h4>{{ projectDetails.title }}</h4>
    <p>{{ limitString(projectDetails.description) }}</p>
    <a mat-stroked-button color="accent" [routerLink]="'project-detail/'+projectDetails.id">Read
      more</a>
  </div>
</div>
