@import './theme/config';

#telegramBtn {
  position: fixed;
  bottom: 36px;
  left: 24px;
  z-index: 1000;

  &:hover {
    filter: brightness(0.9);
    -webkit-animation: spin 0.3s linear;
    -moz-animation: spin 0.3s linear;
    animation: spin 0.3s linear;
  }

  img {
    -webkit-filter: drop-shadow(2px 3px 3px rgba($accent_color, 0.5));
    filter: drop-shadow(2px 3px 3px rgba($accent_color, 0.5));
  }
}

#goToTop {
  all: unset;
  cursor: pointer;
  position: fixed;
  bottom: 36px;
  right: 24px;
  background-color: rgba($accent_color, 0.75);
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  z-index: 1000;

  &:hover {
    background-color: $accent_color;
    transition: 0.3s;
  }
}
