<section id="hero">
  <div class="inner-container">
    <div class="details">
      <p class="hi">Hi there, I'm </p>
      <h1>Redouane Bekkouche</h1>
      <p class="js-ts">a front-end web developer</p>
      <div class="btns">
        <a type="button" mat-raised-button color="primary" id="downloadBtn"
          href="assets/Redouane-Bekkouche-CV.pdf" download>
          <mat-icon>download</mat-icon>Resume
        </a>
        <a type="button" mat-flat-button href="#projects" id="projectstBtn">
          Projects
        </a>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="inner-container">
    <div class="photo">
      <img ngSrc="assets/Redouane Bekkouche.webp" alt="Redouane Bekkouche's personal photo"
        width="400" height="400" class="img">
    </div>

    <div class="details">
      <div class="inner">
        <h2>Who am I</h2>
        <p>I'm a passionate front-end web developer, I use my expertise in Angular to craft engaging
          and responsive web applications. <br>
          I honed my skills by tackling many challenges and by following
          <a href="https://www.theodinproject.com/" target="_blank" class="link">
            The Odin Project </a>
           curriculum. <br>
          I'm eagerly seeking new opportunities to practice and improve my skills and knowledge. I'm
          confident in my ability to learn quickly,
          collaborate effectively, and deliver high-quality code. <br>
          Curently I'm learning back-end developement with NodeJS, and interrested in mobile
          developement. <br>
          Let's build something amazing together!
        </p>
        <app-tabs [bgColor]="'accent'" [tabs]="[
          {title: 'Skills', template: skills}, 
          {title: 'Education', template: education},
          {title: 'Languages', template: languages},
        ]"></app-tabs>
      </div>
    </div>
  </div>
</section>

<section id="projects">
  <div class="inner-container">
    <h2>What I Have Done <br> <small>Always learning. Always building</small></h2>
    <div class="projects-container">
      @for (project of favoriteProjects; track project.id) {
        <app-project-item [projectDetails]="project"></app-project-item>
      }
    </div>
    <a mat-raised-button color="primary" routerLink="all-projects">Show All Projects</a>
  </div>
</section>

<section id="contact">
  <h2>Let's Talk</h2>
  <div class="inner-container">
    <div class="details">
      <div class="inner">        
        <p>I'm currently looking for new opportunities, my inbox is always open. Whether you have a
          question or just want to say hi, I'll try my best to get back to you!</p>
        <div class="email">
          <!-- <img ngSrc="assets/envelope.svg" width="24" height="24" class="icon" alt="Email icon"> -->
          <mat-icon fontIcon="email"></mat-icon>
          <span>redouane.bekk&#64;gmail.com</span>
          <button [cdkCopyToClipboard]="'redouane.bekk@gmail.com'" type="button" class="copy-btn"
            title="Copy Email adresse" (click)="openSnackBar('Email adresse copied')">
            <!-- <img src="assets/content_copy_icon.svg" width="24" height="24" alt="Copy text icon"> -->
            <mat-icon fontIcon="content_copy"></mat-icon>
          </button>
        </div>
        <div class="phone">
          <div class="icons">
            <mat-icon fontIcon="phone"></mat-icon>|
            <mat-icon fontIcon="telegram"></mat-icon>
            <!-- <img ngSrc="assets/phone.svg" width="24" height="24" class="icon" alt="Phone icon"> | -->
            <!-- <img ngSrc="assets/telegram.svg" width="24" height="24" class="icon" alt="Telegram icon"> | -->
            <!-- <img ngSrc="assets/whatsapp-square.svg" width="24" height="27.5" class="icon" alt="WhatsApp icon"> -->
          </div>
          <span>+213 790 04 66 00</span>
          <button [cdkCopyToClipboard]="'+213790046600'" type="button" class="copy-btn"
            title="Copy phone number" (click)="openSnackBar('Phone number copied')">
            <!-- <img src="assets/content_copy_icon.svg" width="24" height="24" alt="Copy text icon"> -->
            <mat-icon fontIcon="content_copy"></mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="form">
      <app-contact-form></app-contact-form>
    </div>
  </div>
</section>

<!-- 
  tabs content
 -->

<ng-template #skills>
  <div class="tab-content">
    While problem-solving is my core strength, I've also had a diverse skill set through my tech
    journey
    <div class="skills">
      <span class="skill">
        <div class="skill-img-container">
          <img ngSrc="assets/html5-original.svg" fill alt="HTML logo">
        </div>
        <small class="skill-label">HTML</small>
      </span>
      <span class="skill">
        <div class="skill-img-container">
          <img ngSrc="assets/css3-plain-wordmark.svg" fill alt="CSS logo">
        </div>
        <small class="skill-label">CSS</small>
      </span>
      <span class="skill">
        <div class="skill-img-container">
          <img ngSrc="assets/javascript-original.svg" fill alt="Javascript logo">
        </div>
        <small class="skill-label">Javascript</small>
      </span>
      <span class="skill">
        <div class="skill-img-container">
          <img ngSrc="assets/typescript.svg" fill alt="Typescript logo">
        </div>
        <small class="skill-label">Typescript</small>
      </span>
      <span class="skill">
        <div class="skill-img-container">
          <img ngSrc="assets/angular.svg" fill alt="Angular logo">
        </div>
        <small class="skill-label">Angular</small>
      </span>
      <span class="skill">
        <div class="skill-img-container">
          <img ngSrc="assets/git-plain.svg" fill alt="GIT logo">
        </div>
        <small class="skill-label">GIT</small>
      </span>
      <span class="skill">
        <div class="skill-img-container">
          <img ngSrc="assets/firebase-icon.svg" fill alt="Firebase logo">
        </div>
        <small class="skill-label">Firebase</small>
      </span>
      <span class="skill">
        <div class="skill-img-container">
          <img ngSrc="assets/wordpress.svg" fill alt="Wordpress logo">
        </div>
        <small class="skill-label">Wordpress</small>
      </span>
    </div>
  </div>
</ng-template>

<ng-template #education>
  <div class="tab-content">
    <div id="education">
      <div>- <b>University: </b> Farhat Abbas Setif University <b>.</b> Algeria</div>
      <div>- <b>Field of study:</b> Optics and Mechanics <b>.</b> 2016 / 2017</div>
    </div>
  </div>
</ng-template>

<ng-template #languages>
  <div class="tab-content">
    <ul>
      <li>Arabic <small>(Excellent)</small></li>
      <li>English <small>(Conversational)</small></li>
      <li>French <small>(Beginner)</small></li>
    </ul>
  </div>
</ng-template>
