@import '../../theme/config';

section {
  padding: calc($gap * 3) 0;

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .inner-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: calc($gap * 2);
  }
}

#hero {
  color: $txt_light;
  background: linear-gradient(to right, rgba($bg_dark, 0.95), rgba($bg_dark, 0.75)),
    url(../../../assets/red1dev-hero-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100dvh - 56px);

  .inner-container {
    align-items: center;
    height: 100%;
  }

  .details {
    p {
      font-size: 1.5rem;
    }

    h1 {
      font-size: 3rem;
      color: $title_light;
      margin: calc($gap / 3) 0;
    }

    .btns {
      margin-top: calc($gap * 1.5);
      display: flex;
      gap: $gap;
      align-items: center;
      flex-wrap: wrap;

      a {
        font-weight: 500;
      }

      #downloadBtn {
        background: linear-gradient(to right, $accent_color 50%, $primary_color 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 0.5s ease-out;

        &:hover {
          background-position: left bottom;
          color: #fff;
        }
      }

      #contactBtn {
        border: 3px solid $primary_color;
        color: $primary_color;
        background: linear-gradient(to right, $primary_color 50%, rgba($primary_color, 0) 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 0.5s ease-out;

        &:hover {
          color: #000000;
          background-position: left bottom;
        }
      }
    }
  }

  .photo {
    text-align: right;

    img {
      border-radius: 50%;
    }
  }
}

#about {
  .inner-container {
    &>* {
      min-width: 255px;
    }

    .details {
      flex: 1.5;
      color: $txt_dark;

      h2 {
        color: $title_dark;
      }

      p {
        margin: calc($gap * 1) 0;
      }
    }

    .photo {
      flex: 1;

      img {
        border-radius: 50%;
      }
    }
  }
}

#contact {
  background-color: $bg_dark;

  .inner-container {
    .form {
      flex: 1;
      width: 100%;
    }

    .details {
      flex: 1.5;
      color: $txt_light;

      .inner {
        h2 {
          color: $title_light;
        }

        p {
          margin: calc($gap) 0;
        }

        .email,
        .phone {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 8px;
          font-size: 1.1rem;
          font-weight: 500;
        }

        .email {
          margin-bottom: 16px;
        }

        .phone {
          .icons {
            display: flex;
            align-items: center;
            gap: 4px;
          }
        }

        .copy-btn {
          all: unset;
          cursor: pointer;
          margin-left: 8px;

          &:hover {
            filter: brightness(0.75);
          }
        }
      }
    }
  }
}

.tab-content {
  padding: calc($gap / 2);

  .skills {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 72px);
    gap: calc($gap / 2);
    text-align: center;

    .skill {
      height: fit-content;

      &:hover small {
        opacity: 1;
        transition: 0.3s;
      }

      .skill-img-container {
        position: relative;
        height: 72px;

        img {
          object-fit: contain;
        }
      }

      small {
        opacity: 0;
        display: block;
      }
    }
  }

  ul {
    padding-left: 16px;

    li {
      list-style: circle;

      &::marker {
        font-size: 20px;
        color: $accent_color;
      }
    }
  }
}

/*
** large screens
*/

@media only screen and (min-width: 1050px) {
  #hero {
    .details {
      h1 {
        font-size: 3.75rem;
      }

      p {
        font-size: 2rem;
      }
    }
  }
}

/*
** mobile responsiveness
*/

@media only screen and (max-width: 620px) {


  #hero {
    .details {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      text-align: center;

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1.1rem;
      }

      .btns {
        align-self: center;
      }
    }
  }

  section {
    .inner-container {
      .details {
        h2 {
          text-align: center;
        }
      }
    }
  }
}
